<div class="container py-5">
  <h2 class="text-center text-primary mb-4">Update Doctor</h2>
  <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Name</label>
      <input type="text" formControlName="doctorName" class="form-control" />
    </div>
    <div class="mb-3">
      <label>Specialization</label>
      <input type="text" formControlName="specialization" class="form-control" />
    </div>
     <div class="mb-3">
  <label for="experience">Experience</label>
  <input
    type="text"
    id="experience"
    class="form-control"
    formControlName="experience"
    pattern="^[1-9][0-9]*$"
    maxlength="2"
    (keypress)="allowOnlyDigits($event)"
  />
  <div
    *ngIf="doctorForm.get('experience')?.invalid && (doctorForm.get('experience')?.dirty || doctorForm.get('experience')?.touched)"
    class="text-danger mt-1"
  >
    <div *ngIf="doctorForm.get('experience')?.errors?.['pattern']">
      Experience must not start with 0 and should be a number.
    </div>
    <div *ngIf="doctorForm.get('experience')?.errors?.['required']">
      Experience is required.
    </div>
  </div>
</div>

     <div class="mb-3">
  <label for="timings">Timings</label>
  <input type="time" class="form-control" formControlName="timings">
</div>
    <button class="btn btn-success w-100" type="submit">Update</button>
  </form>
</div>
