<app-back-button></app-back-button>
<div class="container py-5">
  <h2 class="text-center text-primary mb-4">Doctor Dashboard (Admin)</h2>

  <div class="row justify-content-center">
    <!-- Register Doctor -->
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm border-success text-center h-100">
        <div class="card-body">
          <i class="bi bi-person-plus fs-1 text-success mb-3"></i>
          <h5 class="card-title">Register Doctor</h5>
          <p class="card-text">Add a new doctor to the system.</p>
          <div class="text-center mb-3">
  <a [routerLink]="['/admin/register-doctor']">
    <button class="btn btn-primary">Register Doctor</button>
  </a>
</div>
        </div>
      </div>
    </div>

    <!-- View Doctors -->
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm border-primary text-center h-100">
        <div class="card-body">
          <i class="bi bi-list-check fs-1 text-primary mb-3"></i>
          <h5 class="card-title">View Doctors</h5>
          <p class="card-text">See all registered doctors.</p>
         <div class="text-center">
  <a [routerLink]="['/admin/view-doctors']">
    <button class="btn btn-outline-primary">View Doctors</button>
  </a>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
