<div class="container py-4">
  <h2 class="text-center text-dark fw-bold mb-4">All Appointments</h2>

  <div class="table-responsive">
    <table class="table table-bordered table-striped align-middle text-center">
      <thead class="table-light">
        <tr>
          <th>Appointment Id</th>
          <th>Doctor</th>
          <th>Patient</th>
          <th>Date</th>
          <th>Time</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody *ngIf="appointments && appointments.length > 0">
 <tr *ngFor="let appt of appointments; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ appt.doctor?.doctorName }}</td>
          <td>{{ appt.patient?.fullName }}</td>
          <td>{{ appt.appointmentDate }}</td>
          <td>{{ appt.appointmentTime }}</td>
          <td>{{ appt.reason }}</td>
  </tr>
</tbody>

    </table>
  </div>
</div>
