<div class="container py-5">
  <h2 class="text-center text-primary mb-4">Schedule Appointment</h2>
  <form (ngSubmit)="onSubmit()">
    <!-- Doctor Dropdown -->
     <label for="doctorId">Select Doctor</label>
<select class="form-select" [(ngModel)]="appointment.doctor.doctorId" name="doctorId" required>
  <option value="" disabled selected>Select Doctor</option>
  <option *ngFor="let doctor of doctors" [value]="doctor.doctorId">
    {{ doctor.doctorName }}
  </option>
</select>

    <!-- 🔽 Patient Dropdown -->
    <div class="mb-3">
      <label for="patientId">SelectPatient</label>
      <select class="form-select" [(ngModel)]="appointment.patient.patientId"
 name="patientId" required>
        <option value="" disabled selected>Select Patient</option>
        <option *ngFor="let patient of patients" [value]="patient.patientId">
          {{ patient.fullName }}
        </option>
      </select>
    </div>

   <div class="mb-3">
  <label for="appointmentDate">Appointment Date</label>
  <input
    type="date"
    class="form-control"
    [(ngModel)]="appointment.appointmentDate"
    name="appointmentDate"
    [min]="todayDate"
    required
  />
</div>


    <!-- ⏰ Appointment Time -->
    <div class="mb-3">
      <label for="appointmentTime">Appointment Time</label>
      <input type="time" class="form-control" [(ngModel)]="appointment.appointmentTime" name="appointmentTime" required>
    </div>

    <!-- 📝 Reason -->
    <div class="mb-3">
      <label for="reason">Reason</label>
      <textarea class="form-control" rows="3" [(ngModel)]="appointment.reason" name="reason" required></textarea>
    </div>

    <button type="submit" class="btn btn-success w-100">Submit</button>
  </form>
</div>
