<div class="container mt-4">
  <h3 class="text-center mb-4">List of Doctors</h3>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Specialization</th>
        <th>Experience</th>
        <th>Timings</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctors">
        <td>{{ doctor.doctorId }}</td>
        <td>{{ doctor.doctorName }}</td>
        <td>{{ doctor.specialization }}</td>
        <td>{{ doctor.experience }}</td>
        <td>{{ doctor.timings }}</td>
      </tr>
    </tbody>
  </table>
</div>
